<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
    <style>
        .container {
            background-color: rgb(255, 255, 222);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .commentContainer {
            background-color: rgb(134, 193, 255);
            padding: 5px;
            width: 30%;
        }

        /* 기존 스타일 유지 */
        .update {
            background-color: rgb(255, 255, 222);
            border: 1px solid rgb(0, 0, 0);
        }

        .delete {
            background-color: rgb(255, 188, 152);
            border: 1px solid rgb(0, 0, 0);
        }

        .comment {
            background-color: rgb(255, 118, 27);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            padding: 5px;
        }

        /* Media query for smaller screens */
        @media screen and (max-width: 768px) {
            .commentContainer {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>댓글 목록1</h1>
        <form action="/create" method="post">
            <input type="text" name="content" autofocus>
            <input type="submit" value="Submit">
        </form>
        <div class="commentContainer">
            <% for (comment of comments) { %>
                <div class="comment">
                    <span>
                        <%= comment.content %>
                    </span>
                    <form action="/delete/<%= comment.id %>" method="post" class="delete">
                        <input type="submit" value="삭제하기">
                    </form>
                </div>
                <% } %>
        </div>
    </div>
</body>
1

</html>